*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
body{

}
header{
	width: 100%;
	height: 90px;
	background: rgb(33,151,58);
background: linear-gradient(90deg, rgba(33,151,58,1) 0%, rgba(73,202,101,1) 35%, rgba(101,189,120,1) 100%);

}

.grid-container{
	background: rgb(33,151,58);
	background: linear-gradient(90deg, rgba(33,151,58,1) 0%, rgba(73,202,101,1) 35%, rgba(101,189,120,1) 100%);
}
.interior{
	max-width: 100%;
	padding: 0 10px;
	margin: auto;
}
.logo{
	float: left;
	padding: 15px 20px 0;
}
.logo img{
	height: 60px;
}
.logo img:hover{
	transform: scale(1.1);
}
.navegacion{
	float: right;
	display: flex;
	align-items: center;
	min-height: 90px;
	z-index: 1000;
	
}
.navegacion ul{
	list-style: none;
	padding: 0 10px;
}
.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}
.navegacion ul li:hover{
	transform: scale(1.1);
}
.navegacion ul li a{
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	padding: 12px 20px;
	transition: .3s linear;
}
.navegacion ul li a:hover{
	color: #275a11;
	transform: scale(1.1);
}

.about{
	width: 100%;
	padding: 100px 0px;
	background: rgb(33,151,58);
	background: linear-gradient(90deg, rgba(33,151,58,1) 0%, rgba(73,202,101,1) 35%, rgba(101,189,120,1) 100%);	
  
}
.about img{
	height: auto;
	width: 430px;
    padding: 0px;  
	
}
.about img:hover{
	transform: scale(1.1);  
}


.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display:grid;
	grid-template-columns: repeat(2,1fr);

}

.about-text{
    text-align: start;
    padding-top: 80px;
    
}





.about-text h2{
	color: white;
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 18px;
}

.wave-3{
	position: relative;
	margin-top: 400px;
}

button{
	background-color:#2e8440;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #005b13;
	cursor: pointer;
}
/* colocar las imagenes de producots */
.title-5{
	padding-top: 30px;
    text-align: center;
    font-size: 40px;
    color: #0d840d;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container-5{
    width: 100%;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container-5 .card-5{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container-5 .card-5:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container-5 .card-5 img{
    width: 330px;
    height: 220px;
}


.container-5 .card-5 h4{
    font-weight: 600;
}

.container-5 .card-5 p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container-5 .card-5 a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}


/*-----------------------------------*/
.pie-pagina{
    width: 100%;
    background-color: #ffffff;

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: rgb(0, 188, 31);
    margin-bottom: 25px;
    margin-left: 100px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #1d1d1d;
    margin-bottom: 10px;
    margin-left: 100px;
}


.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #ffffff;
    padding: 15px 10px;
    text-align: center;
    color: rgb(25, 191, 0);
}
.pie-pagina .grupo-2 small{
    font-size: 18px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}